@use '../../../app/styles/mixins'  as mixin;
@use '../../../app/styles/variables.scss' as var;


.cardWrapper{
  background-color: var.$secondary-white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8px;
  height: fit-content;
  min-width: 280px;
  max-width: 668px;
  @include mixin.media-q("md") {
    width: 668px;
  }

  @include mixin.media-q("xl") {
  width: 600px;
}
  @include mixin.media-q("xxxl") {
  width: 600px;
  }
}

.textWrapper{
  color: var.$secondary-black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  width: 280px;
  height: fit-content;
  @include mixin.media-q("md") {
    width: 668px;

  }
  @include mixin.media-q("xl") {
  gap: 36px;
  padding: 52px 24px;
  width: 600px;
  height: fit-content;
}
  @include mixin.media-q("xxxl") {
  gap: 36px;
  padding: 52px 24px;
  width: 600px;
  height: fit-content;
}
}
.headerWrapper {
  @include mixin.apply-font-styles(var.$h3-font);
  color: var.$secondary-black;
  @include mixin.media-q("xl") {
  @include mixin.apply-font-styles(var.$h1-font);
}

}
.img {
  position: relative;
  height: fit-content;
  width: 280px;
  height: 242px;
  @include mixin.media-q("md") {
    width: 668px;
    height: 380px;

  }
  @include mixin.media-q("xl") {
    height: 342px;
    width: 600px;
  }
  @include mixin.media-q("xxxl") {
    height: 342px;
    width: 600px;
  }
}

.title{
  color: var.$secondary-white;
  background-color: var.$secondary-black;
  position: absolute;
  bottom: 60px;
  right: 2px;
  padding: 4px 8px;
  border-radius: 20px;
  @include mixin.apply-font-styles(var.$text-16-font);
  @include mixin.media-q("xl") {

  }
}

.descWrapper {

  @include mixin.apply-font-styles(var.$text-16-font);

}